{% extends "model-page.html" %}

{% block content %}
    <h3>Exibindo dados para cliente ID: {{clientes.id}}</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome completo</th>
                <th>Cliente desde</th>
                <th>Status</th>
                <th>Telefone</th>
                <th>E-mail</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>{{clientes.get_full_name}}</td>
                    <td>{{ clientes.registro_cadastro }}</td>
                    <td>{% if clientes.ativo == True %} Ativo {% else %} Inativo {% endif %}</td>
                    <td>{{clientes.get_full_number}}</td>
                    <td>{{clientes.email}}</td>
                    <td>
                        <a href="{%url 'costumer:atualizar_cliente' clientes.pk%}">
                            <button type="button" class="btn btn-warning">Editar</button>
                        </a>
                        <a href="{% url 'costumer:deletar_cliente' clientes.pk %}">
                            <button type="button" class="btn btn-danger">Excluir</button>
                        </a>
                    </td>
                </tr>
        </tbody>

    </table>
    <h3>Produtos contratados:</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Data de criação</th>
                <th>Última atualização</th>
                <th>Descrição</th>
            </tr>
        </thead>
        {% for produto in clientes.produtos_cadastrados.all %}
            <tbody>
                    <tr>
                        <td><a href="{% url 'costumer:produto_detalhe' produto.pk %}">{{produto.nome}}</a></td>
                        <td>{{produto.registro_cadastro}}</td>
                        <td>{{produto.registro_atualizacao}}</td>
                        <td><p>{{produto.descricao}}</p></td>
                    </tr>
            </tbody>
        {% endfor %}
    </table>


{% endblock %}