{% extends "model-page.html" %}

{% block content %}
    <h3>Listagem de clientes:</h3>
    <a href="{% url 'costumer:adicionar_cliente' %}">
        <button type="button" style="float: right; margin-bottom: 10px;" class="btn btn-primary">Adicionar novo cliente</button>
    </a>
    <form style="margin-bottom: 5px;">
        <div class="form-group">
            <input class="form-control" type="text" name="name" placeholder="Buscar por nome...">
        </div>
        <button type="submit" style="margin-top:5px;" class="btn btn-primary">Buscar</button>
    </form>
    <table class="table table-dark table-bordered">
        <thead>
            <tr>
                <th class="col-sm-1">Detalhes</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
                <tr>
                    <td><a href="{% url 'costumer:cliente_detalhe' cliente.pk %}"><i class="fa fa-search"></i></a></td>
                    <td>{{cliente.get_full_name}}</td>
                    <td>{{cliente.get_full_number}}</td>
                    <td>{{cliente.email}}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Anterior</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
        {% endif %}
        {% for object in page_obj.paginator.page_range %}
            <li class="page-item"><a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Próxima</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Próxima</a></li>
        {% endif %}
  </ul>

{% endblock %}