{% extends "model-page.html" %}

{% block content %}
<h3>Deletando...</h3>
    <div class="alert alert-danger">
        <form method="POST">
            {% csrf_token %}
            <strong>Tem certeza que deseja deletar o cliente ID: {{produtos.id}} Nome: {{produtos.nome}}?</strong>
            <a class="btn btn-primary" style="float:right;" href="{% url 'costumer:produto_detalhe' produtos.id %}">Cancelar</a>
            <input class="btn btn-danger" style="float:right;" type="submit" value="Sim"/>
        </form>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data de cadastro</th>
                <th>Última atualização</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>{{produtos.nome}}</td>
                    <td>{{produtos.registro_cadastro}}</td>
                    <td>{{produtos.registro_atualizacao}}</td>
                    <td>{{produtos.descricao}}</td>
                </tr>
        </tbody>

    </table>

{% endblock %}